---
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import { SEO } from "astro-seo";
import "~/globals.css";
import { APP_DESCRIPTION, APP_NAME } from "~/utils/constants/app";


interface Props {
  seo:Parameters<typeof SEO>[0] & {title:string}
}

const { seo } = Astro.props;

seo.title =  `${seo.title} - ${APP_NAME}`;

export type BaseLayoutProps = Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO description={APP_DESCRIPTION} {...seo} />
    {
      import.meta.env.VITE_PUBLIC_TINYBIRD_TOKEN && (
        <script
          defer
          src="https://unpkg.com/@tinybirdco/flock.js"
          data-host="https://api.us-east.tinybird.co"
          data-token={import.meta.env.VITE_PUBLIC_TINYBIRD_TOKEN}
        />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
